body {
    font-family: Arial;
}


@media only screen and (max-width: 767px) {
  .containerForm{
    width: 90%;
  }
  textarea{
    width: 100%;
  }
  .tabcontent{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .tab{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
  

@media only screen and (min-width: 768px) {

  .containerForm{
    width: 50%;
  }
  .tabcontent{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .tab{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
  

/* Style the tab */
.tab {
  overflow: hidden;
  background: linear-gradient(#F9858b, #F985B9);
  display: flex;
  justify-content: space-around;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  width: 50%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #F9858b;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #e77076;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  border: 1px solid #b0adad;
}

.bg-pink{
  background-color: #F9858b;
}
h2{
  color: #F9858b;
}

.button-container input{
  border-radius: 10px;
  color: white;
  background: linear-gradient(#F9858b, #F985B9);
  border: #F9858b;
}
.button-container{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


label{
  display: block;
}

.tablinks{
  color: white;
}