
#tableTitle {
    background-color: rgba(245, 245, 245, 0.637);
    color:#F9858b;
    width: 10%;
    text-align: center;
    font-weight: 600;
}

#tableEntries {
    font-weight:500;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .table-responsive-sm{
      font-size: 11px;
      padding: 6px;
    }
  }

.table{
    /* font-size: 1rem; */
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table-responsive {
    overflow-x: auto;
}

#dietContainer{
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    max-width: 1100px;
    margin:40px auto;
}

html, body {
    margin: 0;
    padding: 0;
    font-weight: 200;
  }

.tabcontent {
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border: none !important;
    box-shadow: none !important;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

#diet,
#foodLogs {
  border: none;
  box-shadow: none;
}

.title{
    color: #F9858b;
  }
  
  .tablinks {
    color: white;
    font-weight: 400 !important; 
  }
  
  .tab {
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    overflow: hidden;
    background: linear-gradient(#f9858b, #f985b9);
    display: flex;
    justify-content: space-around;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    width: 50%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    font-weight: 200;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #f9858b;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #e77076;
  }
  
  .delete-btn {
    background-color: #e45c63;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 200;
  }