body{
  background-color: #F9858b;
}

.bg-pink{
    background-color: #F9858b;
}
.bg-beige{
    background-color: #FFFFFF
}

#bannerTitle{
  color: #ed335f;
  font-family: Arial, Helvetica, sans-serif;
}
.features h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #ed335f;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  font-weight: bold;
}

.features h1:hover {
  color: #761137;
}

.features h1:after,
.features h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #274c77;
  border-top: 2px solid #274c67;
  height: 5px;
  background-color: #f8f8f8;
}
.bi-robot{
  background-color: #F9858b;
  padding: 1px;
}

h2{
  color: #ed335f;
}

.feature-p{
  color: ;
}