body{
  background: white;
  font-weight: 600;
}



/**
* Panels
*/
/*** General styles ***/
.panel {
box-shadow: none;
}

.panel-heading{
padding: 1%;
}
.panel-title {
font-size: 17px;

align-items: center;
}
.panel-title > small {
font-size: .75em;
color: #999999;
}
.panel-body *:first-child {
margin-top: 0;
font-size: 17px;
}

#firstContainer{
  border-right: 1px solid #b0adad;
  border-left:1px solid #b0adad;
  border-bottom:1px solid #b0adad;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#secondContainer{
  border-right: 1px solid #b0adad;
  border-left:1px solid #b0adad;
  border-bottom:1px solid #b0adad;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.panel-default > .panel-heading {
  height: 30px;
  text-align: center;
  color: white;
  background: linear-gradient(#F9858b, #F985B9);
  border-color: rgba(0, 0, 0, 0.07);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.form-group {
margin-bottom: 10px
}

#weight-input, #age-input {
  width: 20%; 
  height: 5%;
  overflow: auto;
}

#activity-select{
  width: 90%; 
  height: 5%;
  overflow: auto;
}

button,
#activity-select,
#weight-input, 
#age-input  {
  font-weight: 600;
}

button{
align-items: center;
padding: 3px;
height: 80%;
color: white;
border: none;
border-radius: 10px;
background: linear-gradient(#F9858b, #F985B9);
padding: 5px;
margin-right: 10px;
margin-left: 10px;
font-weight: 400;
}

#kg{
  padding-top: 5px;
  padding-left: 5px;
}

@media (min-width: 768px) {
.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px;
  }
}

.form-group {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 10%;
  margin-bottom: 10%;
}