<!DOCTYPE html>
<html>
  <head>
    <title>Resources</title>
    <link rel="icon" type="image/x-icon" href="/img/sugaraide-favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
    <script
    src="https://kit.fontawesome.com/36e5d26d04.js"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"
    ></script>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
    crossorigin="anonymous"
  />
    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/additionalInfo.css" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
      <%- include("templates/header") %>
      <br>
      <div class="card-container">
      <!--First Card-->
      <div class="row no-gutters position-relative">
        <div class="col-md-6 mb-md-0 p-md-4 img-div">
          <img src="/img/ADA.jpg" class="w-100" alt="American diabetes association">
        </div>
        <div class="col-md-6 position-static p-4 pl-md-0">
          <h5 class="mt-0">American Diabetes Association</h5>
          <p>The American Diabetes Association (ADA) is a nonprofit committed to enhancing the lives of those with diabetes through awareness campaigns, 
            resources, research funding, advocacy, guidelines for healthcare professionals, and community events, all while striving to find a cure.</p>
            <a href="https://diabetes.org/" class="btn bg-pink" target="_blank">Learn More</a>
        </div>
      </div>
      <br>
      <hr class="gradient">
      <!--Second Card-->
      <div class="row no-gutters position-relative">
        <div class="col-md-6 mb-md-0 p-md-4 img-div">
          <img src="/img/NIHdiabetes.jpg" class="w-100" alt="NIH">
        </div>
        <div class="col-md-6 position-static p-4 pl-md-0">
          <h5 class="mt-0">National Institute of Diabetes and Digestive and Kidney Diseases</h5>
          <p>The National Institute of Diabetes and Digestive and Kidney Diseases (NIDDK) within the NIH, focuses on improving health outcomes related to diabetes, digestive, kidney diseases, and obesity. It funds research, 
            supports clinical trials, provides education, and promotes public health initiatives to enhance scientific understanding and patient care.</p>
            <a href="https://www.niddk.nih.gov/" class="btn bg-pink" target="_blank">Learn More</a>
        </div>
      </div>
      <br>
      <hr class="gradient">
      <!--Third Card-->
      <div class="row no-gutters position-relative">
        <div class="col-md-6 mb-md-0 p-md-4 img-div">
          <img src="/img/diabetesCanada.jpg" class="w-100" alt="American diabetes association">
        </div>
        <div class="col-md-6 position-static p-4 pl-md-0">
          <h5 class="mt-0">Diabetes Canada</h5>
          <p>Diabetes Canada, a national nonprofit, works to improve the lives of Canadians with diabetes. 
            It advocates for related policies, provides education, funds research, raises awareness, 
            and supports healthcare professionals, aiming to improve prevention, access to care, and well-being of those affected.</p>
          <a href="https://www.diabetes.ca/" class="btn bg-pink" target="_blank">Learn More</a>
      </div>
      <br>
      <hr class="gradient">
      <!--Fourth Card-->
      <div class="row no-gutters position-relative">
        <div class="col-md-6 mb-md-0 p-md-4 img-div">
          <img src="/img/Mayo_clinic.jpg" class="w-100" alt="American diabetes association">
        </div>
        <div class="col-md-6 position-static p-4 pl-md-0">
          <h5 class="mt-0">Mayo Clinic</h5>
          <p>The Mayo Clinic provides comprehensive services for diabetes management.  
            Their approach includes medical treatment, insulin management, dietary advice, and patient education.
            Additionally, they engage in significant diabetes-related research, investigating disease causes, management methods, and new treatments.</p>
          <a href="https://www.mayoclinic.org/diseases-conditions/diabetes/symptoms-causes/syc-20371444" class="btn bg-pink" target="_blank">Learn More</a>
      </div>
      <br>
      </div>

      <%- include("templates/footer") %>
  </body>
</html>


