<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sugar</title>

    <!-- Bootstrap Link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Font Awesome Script Connected to Isaiah's Account -->
    <script
      src="https://kit.fontawesome.com/36e5d26d04.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/chat.css" />
  </head>
  <body>
    <div class="chat-container">
      <ul id="messages"></ul>
      <form id="chat-form" action="/chat" method="post">
        <input
          id="chat-input"
          type="text"
          name="userMessage"
          autocomplete="off"
          placeholder="Type your message here."
        />
        <button class="btn btn-primary" type="submit">
          <i class="fa-regular fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </body>
</html>
