<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/exerciseForm.css">
    </head>
    <body>
        <h2>Tabs</h2>
        <p>Click on the buttons inside the tabbed menu:</p>

    <div class="tab">
        <button class="tablinks" onclick="openExercise(event, 'Cardiovascular')">Cardiovascular</button>
        <button class="tablinks" onclick="openExercise(event, 'Weightlifting')">Weightlifting</button>
    </div>

    <div id="Cardiovascular" class="tabcontent">
        <form 
        id="cardiovascularForm"          
        action="/exerciseForm/form"
        class="needs-validation"
        novalidate=""
        method="post">
            <input type="hidden" name="formId" value="cardiovascularForm">
            <label for="exercise">Exercise </label>
            <input type="text" id="exercise" name="exercise" placeholder="Exercise">
            <br><br>
            <label for="duration">Duration (hours)</label>
            <input type="number" id="duration" name="duration" placeholder="Duration">
            <br><br>
            <label for="calories_burned">Calories Burned</label>
            <input type="number" id="calories_burned" name="calories_burned" placeholder="Calories">
            <br><br>
            <label for="notes">Notes</label>
            <textarea rows="3" cols="40" id="notes" name="notes"></textarea>            
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="Weightlifting" class="tabcontent">
        <form
        id="weightliftingForm"
        action="/exerciseForm/form"
        class="needs-validation"
        novalidate=""
        method="post">
            <input type="hidden" name="formId" value="weightliftingForm">
            <label for="exercise">Exercise </label>
            <input type="text" id="exercise" name="exercise" placeholder="Exercise">
            <br><br>
            <label for="calories_burned">Calories Burned</label>
            <input type="number" id="calories_burned" name="calories_burned" placeholder="Calories">
            <br><br>
            <label for="weight">Weight (lb) </label>
            <input type="number" id="weight" name="weight" placeholder="Weight">
            <br><br>
            <label for="sets">Sets</label>
            <input type="number" id="sets" name="sets" placeholder="Sets">
            <br><br>
            <label for="reps">Reps</label>
            <input type="number" id="reps" name="reps" placeholder="Reps">
            <br><br>
            <label for="notes">Notes</label>
            <textarea rows="3" cols="40" id="notes" name="notes"></textarea>            
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <script src="/js/exerciseForm.js"></script>
    </body>
</html> 
