<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/exerciseForm.css">
    </head>
    <body>
        <h2>Actvity Log</h2>
        <p>Please fill out the log with your completed activity.</p>

    <div class="tab">
        <button class="tablinks" onclick="openExercise(event, 'Cardiovascular')">Cardiovascular</button>
        <button class="tablinks" onclick="openExercise(event, 'Weightlifting')">Weightlifting</button>
    </div>

    <div id="Cardiovascular" class="tabcontent">
        <form 
        id="cardiovascularForm"          
        action="/exerciseForm/form"
        method="post">
            <input type="hidden" name="formId" value="cardiovascularForm">
            <label for="exercise">Exercise </label>
            <input type="text" id="exercise" name="exercise" placeholder="Exercise" required>
            <br><br>
            <label for="duration">Duration (hours)</label>
            <input type="number" id="duration" name="duration" placeholder="Duration" required>
            <br><br>
            <label for="calories_burned">Calories Burned</label>
            <input type="number" id="calories_burned" name="calories_burned" placeholder="Calories">
            <br><br>
            <label for="notes">Notes</label>
            <textarea rows="3" cols="40" id="notes" name="notes"></textarea>            
            <br><br>
            <div class="submit-buttons">
                <input class="btn bg-pink btn-lg px-4 me-md-2" type="submit" value="Submit">
            </div>
        </form>
    </div>

    <div id="Weightlifting" class="tabcontent">
        <form
        id="weightliftingForm"
        action="/exerciseForm/form"
        method="post">
            <input type="hidden" name="formId" value="weightliftingForm">
            <label for="exercise">Exercise </label>
            <input type="text" id="exercise" name="exercise" placeholder="Exercise" required>
            <br><br>
            <label for="duration">Duration (hours)</label>
            <input type="number" id="duration" name="duration" placeholder="Duration">
            <br><br>
            <label for="calories_burned">Calories Burned</label>
            <input type="number" id="calories_burned" name="calories_burned" placeholder="Calories" >
            <br><br>
            <label for="weight">Weight (lb) </label>
            <input type="number" id="weight" name="weight" placeholder="Weight">
            <br><br>
            <label for="sets">Sets</label>
            <input type="number" id="sets" name="sets" placeholder="Sets">
            <br><br>
            <label for="reps">Reps</label>
            <input type="number" id="reps" name="reps" placeholder="Reps">
            <br><br>
            <label for="notes">Notes</label>
            <textarea rows="3" cols="40" id="notes" name="notes"></textarea>            
            <br><br>
            <div class="submit-buttons">
                <input class="btn bg-pink btn-lg px-4 me-md-2" type="submit" value="Submit">
            </div>
        </form>
    </div>
    <script src="/js/exerciseForm.js"></script>
    </body>
</html> 
