
<main class="form-signin w-100 m-auto">
    <div class="d-flex gap-2 justify-content-center py-5">
        <form class="text-center" action='/forgotPassword' method='post'>

            <!-- REPLACE WITH LOGO -->
            <img class="mb-4" src="" alt="">
            <!-- REPLACE WITH LOGO -->

            <h1 class="h3 mb-3 fw-normal">Forgot Password?</h1>
            <p>Enter your email and we'll send you a link to get back into your account.</p>

            <!-- Email Input -->
            <div class="form-floating my-3">
                <input name='email' type="email" class="form-control" id="email"
                    placeholder="name@example.com">
                <label for="email">Email address</label>
            </div>

            <!-- Error Message Display -->
            <p class="fw-bold text-danger" id='msg'>
                <%= msg %>
            </p>

            <!-- Submit Button -->
            <button class="w-100 btn btn-lg btn-primary" type="submit">Change Password</button>
        </form>
    </div>
</main>
