<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Enter Health Information</title>

    <!-- Bootstrap Link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Font Awesome Script Connected to Isaiah's Account -->
    <script
      src="https://kit.fontawesome.com/36e5d26d04.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <svg
        class="bi mt-4 mb-3"
        style="color: var(--bs-indigo)"
        width="100"
        height="100"
      >
        <use xlink:href="#bootstrap"></use>
      </svg>
      <h1 class="text-body-emphasis">Welcome, <%= username %></h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        At SugarAIde, we highly value the privacy of our users' personal
        information.
        <br />
        Especially their health information.
        <br />
        <br />
        We require access to this information to provide our full range of
        services. However, we understand the sensitivity of this data and will
        only collect, store and use it with the explicit consent of the user.
        <br />
        <br />
      </p>
      <div class="d-inline-flex gap-2 mb-5 text-center">
        <a
          href="/health/form"
          class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
        >
          Agree &nbsp;
          <i class="fa-solid fa-arrow-right"></i>
        </a>

        <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill">
          Disagree
        </a>
      </div>
    </div>
  </body>
</html>
