<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
		<title>Enter Health Information</title>
		<link rel="icon" type="image/x-icon" href="/img/sugaraide-favicon.png">
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
			crossorigin="anonymous"
		></script>
		<!-- Font Awesome Script Connected to Isaiah's Account -->
		<script
			src="https://kit.fontawesome.com/36e5d26d04.js"
			crossorigin="anonymous"
		></script>
		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
			.form-signin {
				width: 100%;
				max-width: 330px;
				padding: 15px;
				margin: auto;
			}
		</style>
		<link rel="stylesheet" href="/css/healthinfo.css" />
		<link rel="stylesheet" href="/css/global.css" />
	</head>
	<body>
		<%- include("templates/header") %>
		<div class="container">
			<main>
				<div class="py-5 text-center">
					<img
						class="d-block mx-auto mb-4"
						src="/img/health-icon.png"
						alt=""
						width="100"
						height="100"
					/>
					<h2>Health Information</h2>
					<p class="lead">
						Thank you for consenting to the collection of the health information
					</p>
				</div>

				<div class="row g-5">
					<div class="col-md-12 col-lg-12">
						<form
							class="needs-validation"
							action="/health/form"
							method="post"
						>
						<div class="row g-3">
								<div class="row reset-container">
									<input class="btn btn-sugar text-white" id="reset" type="reset" value="Reset">
								</div>
								<div class="col-sm-6">
									<label for="height" class="form-label">*Height</label>
									<input
										type="number"
										class="form-control"
										id="height"
										placeholder="Enter your height in centimeters (cm)."
										min="0"
										max="300"
										name="height"
										required
									/>
									<div class="invalid-feedback">
										Valid height is required. 0~300
									</div>
								</div>

								<div class="col-sm-6">
									<label for="weight" class="form-label">*Weight</label>
									<input
										type="number"
										class="form-control"
										id="weight"
										placeholder="Enter your weight in kilograms (kg)."
										pattern="[0-9]{1,3}\.?[0-9]{1,2}"
										name="weight"
										required
									/>
									<div class="invalid-feedback">Valid weight is required.</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-sm-12">
									<label for="" class="form-label">*Gender</label>
									<div class="form-check">
										<input
											id="male"
											type="radio"
											class="form-check-input"
											name="gender"
											value="M"
											required
										/>
										<label class="form-check-label" for="male">Male</label>
									</div>
									<div class="form-check">
										<input
											id="female"
											type="radio"
											class="form-check-input"
											name="gender"
											value="F"
											required
										/>
										<label class="form-check-label" for="female">Female</label>
									</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-12">
									<label for="age" class="form-label">*Age</label>
									<input
										type="number"
										class="form-control"
										id="age"
										placeholder="Enter your age."
										pattern="[0-9]{1,3}"
										min="0"
										max="130"
										name="age"
										required
									/>
									<div class="invalid-feedback">Please enter a valid age.</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-sm-12">
									<label for="" class="form-label"
										>Do you have high cholesterol? (Optional)</label
									>
									<div class="form-check">
										<input
											id="yes-highchol"
											type="radio"
											class="form-check-input"
											name="highchol"
											value="1"
										/>
										<label class="form-check-label" for="yes-highchol"
											>Yes</label
										>
									</div>
									<div class="form-check">
										<input
											id="no-highchol"
											type="radio"
											class="form-check-input"
											name="highchol"
											value="0"
										/>
										<label class="form-check-label" for="no-highchol">No</label>
									</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-sm-12">
									<label for="" class="form-label"
										>*Have you smoked at least 100 cigarettes in your life
										time?</label
									>
									<div class="form-check">
										<input
											id="yes-smoker"
											type="radio"
											class="form-check-input"
											name="smoker"
											value="1"
											required
										/>
										<label class="form-check-label" for="yes-smoker">Yes</label>
									</div>
									<div class="form-check">
										<input
											id="no-smoker"
											type="radio"
											class="form-check-input"
											name="smoker"
											value="0"
											required
										/>
										<label class="form-check-label" for="no-smoker">No</label>
									</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-12">
									<label for="menthlth" class="form-label"
										>How many days did you feel depressed the past 30 days?
										(Optional)</label
									>
									<input
										type="number"
										class="form-control"
										id="menthlth"
										placeholder="Enter up to 30 days."
										pattern="^(0|[1-9]|[12]\d|30)$"
										min="0"
										max="30"
										name="menthlth"
									/>
									<div class="invalid-feedback">Please enter 0 to 30.</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-12">
									<label for="physhlth" class="form-label"
										>How many days did you feel your physical health was poor
										the past 30 days? (Optional)
									</label>
									<input
										type="number"
										class="form-control"
										id="physhlth"
										placeholder="Enter up to 30 days."
										pattern="^(0|[1-9]|[12]\d|30)$"
										min="0"
										max="30"
										name="physhlth"
									/>
									<div class="invalid-feedback">Please enter 0 to 30.</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-sm-12">
									<label for="fruits" class="form-label"
										>*Do you eat fruits every day?</label
									>
									<div class="form-check">
										<input
											id="yes-fruits"
											type="radio"
											class="form-check-input"
											name="fruits"
											value="1"
											required
										/>
										<label class="form-check-label" for="yes-fruits">Yes</label>
									</div>
									<div class="form-check">
										<input
											id="no-fruits"
											type="radio"
											class="form-check-input"
											name="fruits"
											value="0"
											required
										/>
										<label class="form-check-label" for="no-fruits">No</label>
									</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-sm-12">
									<label for="veggie" class="form-label"
										>*Do you eat vegetables every day?</label
									>
									<div class="form-check">
										<input
											id="yes-veggie"
											type="radio"
											class="form-check-input"
											name="veggie"
											value="1"
											required
										/>
										<label class="form-check-label" for="yes-veggie">Yes</label>
									</div>
									<div class="form-check">
										<input
											id="no-veggie"
											type="radio"
											class="form-check-input"
											name="veggie"
											value="0"
											required
										/>
										<label class="form-check-label" for="no-veggie">No</label>
									</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-sm-12">
									<label for="hvyalcohol" class="form-label"
										>Have you drank more than (7 if female, 14 if male) beers or
										alcohol dosage equivalents the past week? (Optional)</label
									>
									<div class="form-check">
										<input
											id="yes-hvyalcohol"
											type="radio"
											class="form-check-input"
											name="hvyalcohol"
											value="1"
										/>
										<label class="form-check-label" for="yes-hvyalcohol"
											>Yes</label
										>
									</div>
									<div class="form-check">
										<input
											id="no-hvyalcohol"
											type="radio"
											class="form-check-input"
											name="hvyalcohol"
											value="0"
										/>
										<label class="form-check-label" for="no-hvyalcohol"
											>No</label
										>
									</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-sm-12">
									<label for="hypertension" class="form-label"
										>*Do you currently have hypertension?</label
									>
									<div class="form-check">
										<input
											id="yes-hypertension"
											type="radio"
											class="form-check-input"
											name="hypertension"
											value="1"
											required
										/>
										<label class="form-check-label" for="yes-hypertension"
											>Yes</label
										>
									</div>
									<div class="form-check">
										<input
											id="no-hypertension"
											type="radio"
											class="form-check-input"
											name="hypertension"
											value="0"
											required
										/>
										<label class="form-check-label" for="no-hypertension"
											>No</label
										>
									</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-sm-12">
									<label for="heardisease" class="form-label"
										>*Do you, or did you have a heart disease?</label
									>
									<div class="form-check">
										<input
											id="yes-heartdisease"
											type="radio"
											class="form-check-input"
											name="heartdisease"
											value="1"
											required
										/>
										<label class="form-check-label" for="yes-heartdisease"
											>Yes</label
										>
									</div>
									<div class="form-check">
										<input
											id="no-heartdisease"
											type="radio"
											class="form-check-input"
											name="heartdisease"
											value="0"
											required
										/>
										<label class="form-check-label" for="no-heartdisease"
											>No</label
										>
									</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-sm-12">
									<label for="stroke" class="form-label"
										>*Have you ever had a stroke?</label
									>
									<div class="form-check">
										<input
											id="yes-stroke"
											type="radio"
											class="form-check-input"
											name="stroke"
											value="1"
											required
										/>
										<label class="form-check-label" for="yes-stroke">Yes</label>
									</div>
									<div class="form-check">
										<input
											id="no-stroke"
											type="radio"
											class="form-check-input"
											name="stroke"
											value="0"
											required
										/>
										<label class="form-check-label" for="no-stroke">No</label>
									</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-12">
									<label for="HbA1C" class="form-label"
										>If known, enter your HbA1C levels (Optional)</label
									>
									<input
										type="number"
										class="form-control"
										id="HbA1C"
										placeholder="Haemoglobin A1C (%)"
										pattern="[0-9]{1,3}\.?[0-9]{1,2}"
										name="HbA1C"
										min="0"
										max="30"
									/>
									<div class="invalid-feedback">
										Please enter a non-negative value. Max value is 30%.
									</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-12">
									<label for="bloodglucose" class="form-label"
										>If known, enter your blood glucose levels (Optional)</label
									>
									<input
										type="number"
										class="form-control"
										id="bloodglucose"
										placeholder="Mean Blood Sugar (mg/dl)"
										pattern="[0-9]{1,3}\.?[0-9]{1,2}"
										min="0"
										max="300"
										name="bloodglucose"
									/>
									<div class="invalid-feedback">
										Please enter a non-negative value. Max value is 300 mg/dl.
									</div>
								</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<div class="col-sm-12">
									<label for="" class="form-label"
										>*Do you already have diabetes?</label
									>
									<div class="form-check">
										<input
											id="yes-diabetes"
											type="radio"
											class="form-check-input"
											name="diabetes"
											value="1"
											required
										/>
										<label class="form-check-label" for="yes-diabetes"
											>Yes</label
										>
									</div>
									<div class="form-check">
										<input
											id="no-diabetes"
											type="radio"
											class="form-check-input"
											name="diabetes"
											value="0"
											required
										/>
										<label class="form-check-label" for="no-diabetes">No</label>
									</div>
								</div>
								<hr class="my-4" />

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<button id="send-form" class="w-100 btn btn-sugar text-white btn-lg" type="submit">
									Submit Information
								</button>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>

								<!-- Used for spacing between entreis. -->
								<div>&nbsp;</div>
							</div>
						</form>
					</div>
				</div>
			</main>
		</div>
		<div id="loader" class="loader"></div>
		<%- include("templates/footer") %>
		<script src="/js/healthinfo.js"></script>
	</body>
</html>
