<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SugarAIde</title>
    <link rel="icon" type="image/x-icon" href="/img/sugaraide-favicon.png">
    <!--Bootstrap CSS-->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
    crossorigin="anonymous"
    />
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"
    ></script>
    <!-- Font Awesome Script Connected to Isaiah's Account -->
		<script
    src="https://kit.fontawesome.com/36e5d26d04.js"
    crossorigin="anonymous"
    ></script>  
    <!--Custom CSS-->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="/css/global.css">
  </head>
  <body>
    <!--Nav Bar-->
    <%- include("templates/header") %>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="robot" viewbox="0 0 16 16">
        <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"/>
        <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"/>
      </symbol>
      <symbol id="heart" viewbox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
      </symbol>
      <symbol id="bicycle" viewbox="0 0 16 16">
        <path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057 9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z"/>
      </symbol>
    </svg>
    <br>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="row" id="logo-container">
      <div class="col-10 col-sm-8 col-lg-6 mx-auto">
        <img src="/img/sugaraide-logo.jpeg" class="d-block mx-auto img-fluid" width="800" height="600" loading="lazy">
      </div>
      <div class="py-3" id="">
        <div class="text-center">
          <p class="lead">Your AI-powered partner for a healthy life, one byte at a time.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-center px-3">
            <p><a class="btn btn-outline-dark px-4" onclick="window.location.href='signup'" role="button">Sign up &raquo;</a></p>
            <p><a class="btn btn-sugar text-white px-4 me-md-2" onclick="window.location.href='login'" role="button">Login &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

  <!--Features-->
  <div class="container px-4 py-5 bg-light features" id="hanging-icons">
    <h2 class="pb-2 border-bottom text-center">Features</h2>
    <div class="row g-4 row-cols-1 row-cols-lg-3 flex-column">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1.5em" height="1.5em">
            <use xlink:href="#robot"></use>
          </svg>
        </div>
        <div>
          <h3>Diabetes Prevention Virtual Assistant</h3>
          <p>Our app's virtual assistant helps sedentary individuals assess their risk for diabetes and provides personalized recommendations to prevent it. 
            Get support and guidance for a healthier, happier you!</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="2em" height="2em">
            <use xlink:href="#heart"></use>
          </svg>
        </div>
        <div>
          <h3>Nutritional Tracker</h3>
          <p>The Nutritional Tracker feature makes it easy to monitor your calorie and nutrient intake, reducing your risk for diabetes. 
            Track your food consumption and receive personalized insights to prevent diabetes.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="2em" height="2em">
            <use xlink:href="#bicycle"></use>
          </svg>
        </div>
        <div>
          <h3>Activity Tracker</h3>
          <p>SugarAIde will help you keep track of your daily activity and progress as you work towards your own personal goals. </p>
          </p>
        </div>
      </div>
    </div>
  </div>

  <%- include("templates/footer") %>
  </div> <!-- /container -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
  </body>
</html>