<h1>Reset password for <%= email %>
</h1>
<form class="" action='' method='post'>
    <label for="newPassword">New Password:</label>
    <input type="password" name="newPassword" id="newPassword" required>
    <br>
    <input type="submit" value="Reset Password">
</form>