<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<h1>Reset password for <%= email %>
</h1>
<form class="" action='' method='post'>
    <label for="newPassword">New Password:</label>
    <input type="password" name="newPassword" id="newPassword" required>
    <br>
    <input class="w-100 btn btn-lg btn-primary" type="submit" value="Reset Password">
</form>