<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Risk Level</title>

    <!-- Bootstrap Link -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    /> -->

    <!-- Font Awesome Script Connected to Isaiah's Account -->
    <!-- <script
      src="https://kit.fontawesome.com/36e5d26d04.js"
      crossorigin="anonymous"
    ></script> -->

    <link rel="stylesheet" href="/css/risk.css"/>
    
  </head>
  <body>
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis"></h1>
      <div class="progress-container p-5 text-center bg-body-tertiary">
        <div class="circular-progress">
          <span class="progress-value">
            <%= risk %>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
