<nav style="background: linear-gradient(#F9858b, #F985B9);" class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">SugarAIde</a>
      <button class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <% for (let i = 0; i < locals.navLinks.length; i++) { %>
          <li class="nav-item">
            <a class="nav-link text-white
            <% if (locals.navLinks[i].link == locals.currentURL) { %>
            active <% } %>" 
             aria-current="page" 
             href=<%= locals.navLinks[i].link %>
             > <%= locals.navLinks[i].name %>
            </a>
          </li>
          <% } %>
        </ul>

          <% if (locals.status == 0) { %>
            <div id="isLoggedOut-Container">
              <div id="isLoggedOut">
                <a href="/login" class="btn text-white btn-outline-danger">Login</a>
                <a href="/signup" class="btn text-white btn-danger">Sign-up</a>
              </div>
            </div>
          <% } %>
            
          <!-- Would be weird to have users the options to login or sign-out
            if they're already logged in. Status is 1 if session is active.-->
          <% if (locals.status == 1) { %>
            <div id="isLoggedIn-Container">
              <div class="nav-button" id="isLoggedIn">
                  <a href="/logout" class="btn text-white btn-danger" id="logout">Logout</a>
              </div>
            </div>
          <% } %>

      </div>
    </div>
  </nav>