<p>
  It looks like you have a high risk of developing diabetes.
  <br />
  <br />
  This is a serious concern and requires immediate attention. We strongly
  recommend that you make some lifestyle changes to lower your risk.
  <br />
  <br />
  Visit our suggestions page for advice on how to make these changes and improve
  your health.
  <br />
  <br/>
  Don't wait - take action today to prevent diabetes from taking hold.
</p>
