<p>
  Congratulations! It looks like you have a low risk of developing diabetes.
  <br />
  <br />
  Keep up the good work! Even though your risk is low, it's always a good idea
  to take preventative measures.
  <br />
  <br />
  Check out our suggestions page for tips on how to maintain a healthy lifestyle
  and reduce your risk even further.
</p>
