<p>
  It looks like you have a moderate risk of developing diabetes.
  <br />
  <br />
  This is a good time to take action and make some changes to your lifestyle.
  Check out our suggestions page for tips on how to lower your risk and stay
  healthy.
  <br />
  <br />
  We recommend you start implementing these changes today.
</p>
