<div class="list-group" id="todo-list">
    <% for (let i = 0; i < checkboxes.length; i++) { %>
        <label class="list-group-item d-flex gap-2" 
        id=<%= `checkbox-${i}` %>
        >
          <input class="form-check-input flex-shrink-0" type="checkbox" value="<%= i %>" 
          <% if (checkboxes[i][1] === 1) { %>  
            checked=""
          <% } %>
          >
          <span>
            <%= checkboxes[i][0] %>
          </span>
        </label>
    <% } %>
  </div>